.basicBuild {
  display: grid;
  grid-template-columns: auto 200px 200px auto;
  grid-template-areas: " . register login .";
  width: fit-content;
}

@media (max-width: 400px) {
  .basicBuild {
    display: grid;
    grid-template-columns: auto 300px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      " . register ."
      ". login .";
  }
}

.register {
  grid-area: register;
  text-align: center;
}

.register * {
  margin: 5px 0;
}

.login {
  grid-area: login;
  text-align: center;
}

.login * {
  margin: 5px 0;
}
