.component {
  margin: 10px;
  text-align: center;
}
.component > * {
  margin: 10px;
}

.cookie {
  width: 100px;
  height: 100px;
  transition: 0.5s;
}

.cookieContainer {
  margin: 10px auto;

  width: 100px;
  height: 100px;
}
